{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "not ie <= 8"
          ]
        },
        "debug": false
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime"
  ]
}
